################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/opencv
*.obj
.vs/7825_Template/v17/.suo
*.tlog
*.obj
*.exe
*.pdb
*.recipe
*.iobj
*.ipdb
*.log
*.pch
*.pdb
build/7825_Template/x64/Debug/obj/vc143.idb
build/7825_Template/x64/Debug/obj/uArm.obj
build/7825_Template/x64/Debug/obj/stdafx.obj
build/7825_Template/x64/Debug/obj/Serial.obj
build/7825_Template/x64/Debug/obj/stdafx.obj
build/7825_Template/x64/Debug/obj/uArm.obj
build/7825_Template/x64/Debug/obj/vc143.idb
build/7825_Template/x64/Debug/obj/vc143.idb
build/7825_Template/x64/Debug/obj/uArm.obj
build/7825_Template/x64/Debug/obj/stdafx.obj
build/7825_Template/x64/Debug/obj/Serial.obj
build/7825_Template/x64/Debug/obj/Robot.obj
build/7825_Template/x64/Debug/obj/Camera.obj
build/7825_Template/x64/Debug/obj/7825_Template.tlog/link.command.1.tlog
build/7825_Template/x64/Debug/obj/7825_Template.tlog/CL.write.1.tlog
build/7825_Template/x64/Debug/obj/7825_Template.tlog/CL.read.1.tlog
build/7825_Template/x64/Debug/obj/7825_Template.tlog/CL.command.1.tlog
build/7825_Template/x64/Debug/obj/7825_Template.pch
build/7825_Template/x64/Debug/obj/7825_Template.obj
build/7825_Template/x64/Debug/obj/7825_Template.log
build/7825_Template/x64/Debug/obj/7825_Template.ilk
build/7825_Template/x64/Debug/ChArUcoBoard.png
build/7825_Template/x64/Debug/cam_param.xml
build/7825_Template/x64/Debug/7825_Template.pdb
build/7825_Template/x64/Debug/7825_Template.exe
.vs/7825_Template/v17/.suo
.vs/7825_Template/v17/Browse.VC.db
.vs/7825_Template/v17/Browse.VC.db-shm
.vs/7825_Template/v17/Browse.VC.db-wal
.vs/7825_Template/v17/Browse.VC.opendb
.vs/7825_Template/v17/ipch/25b6c1e1386231b7.ipch
.vs/7825_Template/v17/ipch/9d1f58883e268533.ipch
.vs/ProjectSettings.json
.vs/Robotics-Sys-Design-Labs/v17/.suo
.vs/Robotics-Sys-Design-Labs/v17/Browse.VC.db
.vs/Robotics-Sys-Design-Labs/v17/ipch/AutoPCH/1a59dfb023375675/7825_TEMPLATE.ipch
.vs/Robotics-Sys-Design-Labs/v17/ipch/AutoPCH/46d1bd40118e5767/CAMERA.ipch
.vs/Robotics-Sys-Design-Labs/v17/ipch/AutoPCH/b6bcf87d0d7aefcf/ROBOT.ipch
.vs/Robotics-Sys-Design-Labs/v17/ipch/AutoPCH/bf8e41b93e7e31b3/7825_TEMPLATE.ipch
.vs/Robotics-Sys-Design-Labs/v17/ipch/AutoPCH/df26e6f137a5d26a/ROBOT.ipch
.vs/Robotics-Sys-Design-Labs/v17/ipch/AutoPCH/f7ffd25fd0155cd9/CAMERA.ipch
.vs/Robotics-Sys-Design-Labs/v17/ipch/AutoPCH/fc68220c96c7eff8/ROBOT.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
build/7825_Template/x64/Debug/7825_Template.exe
build/7825_Template/x64/Debug/7825_Template.pdb
build/7825_Template/x64/Debug/obj/7825_Template.ilk
build/7825_Template/x64/Debug/obj/7825_Template.log
build/7825_Template/x64/Debug/obj/7825_Template.obj
build/7825_Template/x64/Debug/obj/7825_Template.pch
build/7825_Template/x64/Debug/obj/7825_Template.tlog/CL.command.1.tlog
build/7825_Template/x64/Debug/obj/7825_Template.tlog/CL.read.1.tlog
build/7825_Template/x64/Debug/obj/7825_Template.tlog/CL.write.1.tlog
build/7825_Template/x64/Debug/obj/7825_Template.tlog/link.command.1.tlog
build/7825_Template/x64/Debug/obj/Camera.obj
build/7825_Template/x64/Debug/obj/Robot.obj
build/7825_Template/x64/Debug/obj/Serial.obj
build/7825_Template/x64/Debug/obj/stdafx.obj
build/7825_Template/x64/Debug/obj/uArm.obj
build/7825_Template/x64/Debug/obj/vc143.idb
build/7825_Template/x64/Debug/obj/vc143.pdb
cam_param.xml
CppProperties.json
.vs/7825_Template/v17/.suo
.vs/7825_Template/v17/Browse.VC.db
.vs/7825_Template/v17/.suo
.vs/7825_Template/v17/Browse.VC.db
.vs/7825_Template/v17/ipch/9d1f58883e268533.ipch
build/7825_Template/x64/Debug/7825_Template.exe
build/7825_Template/x64/Debug/7825_Template.pdb
build/7825_Template/x64/Debug/obj/7825_Template.ilk
build/7825_Template/x64/Debug/obj/7825_Template.log
build/7825_Template/x64/Debug/obj/7825_Template.obj
build/7825_Template/x64/Debug/obj/7825_Template.pch
build/7825_Template/x64/Debug/obj/7825_Template.tlog/CL.command.1.tlog
build/7825_Template/x64/Debug/obj/7825_Template.tlog/CL.read.1.tlog
build/7825_Template/x64/Debug/obj/7825_Template.tlog/CL.write.1.tlog
build/7825_Template/x64/Debug/obj/7825_Template.tlog/link.command.1.tlog
build/7825_Template/x64/Debug/obj/Camera.obj
build/7825_Template/x64/Debug/obj/Robot.obj
build/7825_Template/x64/Debug/obj/Serial.obj
build/7825_Template/x64/Debug/obj/stdafx.obj
build/7825_Template/x64/Debug/obj/uArm.obj
build/7825_Template/x64/Debug/obj/vc143.idb
build/7825_Template/x64/Debug/obj/vc143.pdb
